<!DOCTYPE html>
<html>
<head>
	<title>Confirmation of Registration</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/show.css')}}" type="text/css">
</head>
<body>

		<h1 class="confirmation">A new user has been registered successfully.</h1>

		<p align="center">
			<a class="linkbutton" href=Table>
				<button class="button1">View the database</button>
			</a>
		</p>
		<!--<p align="center">
			<a class="HomePage button" href=Home>
				<button class="button2">Go to Home Page</button>
			</a>
		</p>
		-->
</body>
</html>